body {
  color: #5C4B51;               /* Dark gray */
  background-color: #FFF7EB;    /* Beige */
  font-size: 18px;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Impact", verdana, sans-serif;
}

h1 {
  font-size: 5em;
  display:flex;
  justify-content: center;
}

h2,h3{
  letter-spacing: 0.05em;
}

p, a {
  font-family:Arial, Helvetica, sans-serif
}

a:any-link{
  color:#8CBEB2;   /* light green */
}

a:hover{
  color:#2b433c;   /* dark green */
  transition-duration: 2s;
}

a:focus{
  color:#2b433c;   /* green */
  transition-duration: 2s;
}

a{
  text-decoration: none;
} 


ul {
  color: #81A0B2;   /* Blue */    
  padding-bottom: 10px;
  border-bottom: #81A0B2;
  text-decoration: none;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
}
 
nav{
  border-bottom:  5px solid ;
  border-color: #81A0B2;
}
nav a:hover{
  text-decoration: underline;
}

.intro-text{
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
}

.intro-text p{
  margin: 3em;
}


.button{
  color: #5C4B51;                    /* darkgray */
  background-color: #e9748a;          /* pink */
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  border: none; 
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  box-sizing: border-box;
  margin: 1em auto;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
}


.button:hover{
 background-color: #ce425c;
 transition-duration: 1s;
}

.button a:any-link{
  color: #5C4B51;
}

.generated{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vinyl{
  margin: 1em;
  display:flex;
  flex-direction: column;
  font-size: 3em;
}

.vinyl h3{
  margin-bottom: -0.5em;
}

.vinyl p{
  margin-bottom: -0.2em;
}

.vinyl img{
  max-width: 90vw;
  max-height: 80vh;
}

.covers{
  background-color: #81A0B2;   /* blue */
  padding: 2em;
  margin: 2em;
  border-radius: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
}


.song{
 display: flex;
 flex-direction: column;
}


.icon{
 flex-direction: row;
}

.icon a{
  transition:all 500ms ease;
}

.icon a :hover{
  transform: scale(1.2);
}


.covers img{
  max-width: 16vw;
  max-height: 30vh;
}

.covers h2{
  display: flex;
  height: fit-content;
}

.covers h3{
  font-weight: 90;
  margin-bottom: -0.5em;
}

.genre-l, .genre-r{
  border-radius: 2em;
  padding: 1em;
  margin: 4em;
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.genre-l{
  background-color: #81A0B2;
  justify-content: left;
}

.genre-r{
  background-color:#e9748a;
  align-self: flex-end;
}

.genres{
  display: flex;
  width: 100%;
 flex-direction: column;
}

footer{
  margin-top: 20em;
  display:flex;
  align-items: flex-start;
}


